@tailwind base;
@tailwind components;
@tailwind utilities;

html {scroll-behavior:smooth;}
body {background:#0a0a0a;color:#f8fafc;font-family:'Manrope',sans-serif;}
.grain::before{content:'';position:fixed;inset:0;background-image:theme('backgroundImage.noise');opacity:.18;pointer-events:none;z-index:0}
